.image-container {
    display: flex;
    flex-wrap: wrap;
}
.image-item {
    margin: 10px;
    text-align: center;
}
.image-item img {
    width: 150px;
    height: 150px;
}
.search-box {
    margin-bottom: 20px;
    padding: 10px;
    width: 200px;
    font-size: 16px;
}
.fh{
color: rgb(24, 149, 232);
text-align: center;
    font-size:80px
} 
.fd{
text-align: center;

}
 
.top-left-image{
    position:absolute;
    top: 10px;
    right: 10px;
    width: 100px;
    height: auto;
}
.custom-background{
    width: 300px;
    height: 200px;
    background-image: url(background\ image.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid black;
}
